

.jumbotron {
    position: relative;
    width: 90vw;
    height: 30vh;
    margin: 0 auto;
    display: none;
}

iframe {
    position: relative;
    margin: 20px;
    width: 450px;
    height: 250px;
}

.cover {
    position: absolute;
    width: 90vw;
    height: 30vh;
    top: 0px;
}

.container-fluid{
    background-color: #2E8B57;
}

.videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

iframe {
    width: 300px;
    height: 200px;  
}