

.jumbotron {
    position: relative;
    width: 90vw;
    height: 30vh;
    margin: 0 auto;
}

iframe {
    position: relative;
    margin: 20px;
    width: 450px;
    height: 250px;
}

.cover {
    position: absolute;
    width: 90vw;
    height: 30vh;
    top: 0px;
}

.container-fluid{
    background-color: #2E8B57;
}